ad-summary {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
  display: block;
  text-align: center;
  padding: 0 20px;

  .total-progress-bar {
    width: 40%;
    min-width: 260px;
    margin: 0 auto;
  }

  .categories {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .category {
      flex-basis: 25%;
      min-width: 240px;
      padding: 0 20px 20px 20px;
      box-sizing: border-box;
      position: relative;
      height: 95px;

      .fa.fa-pencil-alt, .fa.fa-trash {
        position: absolute;
        top: 5px;
        display: none;
        padding: 5px;
        font-size: 16px;
      }
      .fa.fa-pencil-alt {
        right: 30px;
      }

      .fa.fa-trash {
        right: 5px;
      }

      &:hover {
        background: rgba(0,0,0,.03);
        cursor: pointer;
        .fa.fa-pencil-alt{
          display: block;
        }
        .fa.fa-trash {
          display: block;
        }
      }
      .fa.fa-pencil-alt:hover, .fa.fa-trash:hover {
        color: white;
        background-color: #673ab7;
        border-radius: 50%;
      }

      h2::selection {
        color: #ffffff;
        background-color: #673ab7;
      }

      &.updating {
        .fa.fa-edit {
          display: none;
        }
      }

      &.creating {
        .fa.fa-plus {
          display: none;
        }
      }

      .fa.fa-plus {
        font-size: 30px;
        position: absolute;
        top: calc(50% - 15px);
        left: calc(50% - 15px);
      }
    }
  }


}
