<div>
  <h1>TOTAL</h1>
  <mat-progress-bar [value]="(categoryCollection$ | async).completionPercent()" class="total-progress-bar"></mat-progress-bar>
</div>

<div class="categories">
  <div
          *ngFor="let category of categoryCollection$ | async"
          class="category mat-elevation-z1" [class.updating]="updating(category)"
          [routerLink]="updating(category) ? null : '/' + category.key"
          [adDisableClick]="updating(category)"
  >
    <i class="fa fa-pencil-alt"
       (click)="updateCategory(category)"
       adStopClickPropagation
       matTooltip="Change category name"
       matTooltipPosition="above"
       [adSelectOnClick]="name"
    ></i>
    <i class="fa fa-trash"
       (click)="deleteCategory(category)"
       adStopClickPropagation
       matTooltip="Delete category"
       matTooltipPosition="above"
    ></i>
    <h2
            [textContent]="category.getName()"
            #name
            (keyup)="category.setName(name.textContent)"
            (blur)="saveCategory(category);"
            adBlurOnEnter
            [contentEditable]="updating(category)"
    ></h2>
    <mat-progress-bar mode="determinate" [value]="category.completionPercent()"></mat-progress-bar>
  </div>
  <div
          class="category mat-elevation-z1 create" [class.creating]="creating()"
          (click)="createCategory();"
  >
    <i class="fa fa-plus"></i>
    <h2
            *ngIf="creating()"
            #name
            (keyup)="activeCategory.setName(name.textContent)"
            (blur)="saveCategory(activeCategory)"
            adFocusOnInit adBlurOnEnter
            contentEditable
    ></h2>
    <mat-progress-bar *ngIf="creating()" [value]="0"></mat-progress-bar>
  </div>
</div>

