ad-category {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
  display: block;
  text-align: center;
  padding: 0 20px;

  .total-progress-bar {
    width: 40%;
    margin: 0 auto;
  }

  .achievements {
    padding-top: 50px;

    .achievement {
      &:hover {
        background: rgba(0,0,0,.03);
        cursor: pointer;
      }
    }

  }


}
