ad-category {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
  display: block;
  text-align: center;
  padding: 0 20px;


  .total-progress-bar {
    width: 40%;
    margin: 0 auto;
  }

  .achievements {
    padding-top: 50px;

    .achievement {
      padding: 25px;
      text-align: left;
      min-height: 140px;
      box-sizing: border-box;
      position: relative;

      color: rgba(0,0,0,.5);

      &.completed {
        color: #673ab7;
        .achievement-points {
          top: calc(50% - 62.5px);
          background-image: url(/assets/images/laurel.svg);
        }
      }
      .task-description.completed {
        color: #673ab7;
      }

      .achievement-image {
        height: 90px;
        width: 160px;
        float: left;
        margin-right: 25px;
        > img {
          max-width: 160px;
          max-height: 90px;
          margin: 0 auto;
          display: block;
        }
      }
      .achievement-title {
        display: inline-block;
        margin: 0;
      }

      .achievement-points {
        top: calc(50% - 42.5px);
        padding: 20px;
        background-size: 80px 80px;
        right: 15px;
        position: absolute;
        font-size: 50px;
        background-position: bottom;
        background-repeat: no-repeat;

      }

      &:hover {
        background: rgba(0,0,0,.03);
      }
    }
  }


}
