/* You can add global styles to this file, and also import other style files */
@import "app/app.component";
@import "app/components/summary/summary.component";
@import "app/components/category/category.component";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(/assets/fonts/Dosis-Regular.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: 'Dosis', sans-serif;
  background-color: #EDEEF3;
  color: #673ab7;
}
input {
  font-family: 'Dosis', sans-serif;
}

.mat-tooltip {
  background: #673ab7;
}

ul {
  list-style: none;
}

*:focus {
  outline: none;
}

//.mat-progress-bar-fill::after {
//  background-color: gold;
//}
//.mat-progress-bar-buffer {
//  background-color: #FFFBE5;
//}
